@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$colorMain: rgb(0, 255, 155);
$colorMainRGBA: rgba(0, 255, 155, 0.25);

.MuiInputBase-root, .MuiSvgIcon-root, .MuiOutlinedInput-notchedOutline, .MuiFormLabel-root {
  color: white !important;
  border-color: $colorMain !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  overflow: hidden;
}

.navBar {
    position: absolute;
    width: 100vw;
    height: 6vh;
    background-color: #151515;
    z-index: 2;
}

.mainSection {
    display: grid;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    justify-content: center;
    align-content: center;
}

.visualizerContainer {
    display: grid;
    position: relative;
    width: 70vw;
    height: 75vh;
    background-color: transparent;
    align-self: center;
    justify-self: center;
    grid-template-columns: repeat(7, auto);
    align-items: center;
    gap: 5rem;
    justify-content: start;
    z-index: 3;
    overflow-x: scroll;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .visualizerElement {
      position: relative;
      width: 70vw;
      height: 100%;
      background-color: #151515;
      border-radius: 0.25rem;
      text-transform: capitalize;
      text-align: center;
      font-size: 1.15rem;
      justify-items: center;
      align-items: center;
      display: grid;
      transition: all 0.15s ease-in-out;

      h2 {
        position: relative;
        width: fit-content;
        height: fit-content;
        color: white;
      }

    }

}

.wrapper {
  display: grid;
  position: relative;
  align-items: center;
}

.rightIcon {
  z-index: 5;
  position: absolute;
  right: 1rem;
  cursor: pointer;
  padding: 0.35rem;
  background-color: rgba(30, 30, 30, 0.0);
  text-align: center;
  border-radius: 100%;
  transition: all 0.15s ease-in-out !important;
  font-size: 2.75rem !important;

  &:hover {
    background-color: rgba(30, 30, 30, 1.0);
  }
}

.leftIcon {
  z-index: 5;
  position: absolute;
  left: 1rem;
  cursor: pointer;
  padding: 0.35rem;
  background-color: rgba(30, 30, 30, 0.0);
  text-align: center;
  border-radius: 100%;
  transition: all 0.15s ease-in-out !important;
  font-size: 2.75rem !important;

  &:hover {
    background-color: rgba(30, 30, 30, 1.0);
  }
}

.canvasHolder {
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-self: center;
    justify-self: center;
    border-radius: 0.5rem;
    background: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

.hidden {
  opacity: 0;
}

.webgl {
  position: relative;
  background-color: #000;
  border-radius: 0.5rem;
}

.audioCanvas {
  position: absolute;
  z-index: 5;
  bottom: 6rem;
  left: 12.25%;

  canvas {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
}

.audioAndInputsContainer {
  position: absolute;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-items: center;

  .audioContainer {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #121212;
    background-color: #111111;
    border-radius: 50rem;
    width: 80%;
    height: 8.5%;
    bottom: 1.5rem;
    align-self: flex-end;
    justify-self: center;
    z-index: 5;
    overflow: hidden;
    color: white;
    align-content: center;
    justify-content: center;


    .audioControlsDiv, .audioInfoDiv, .audioVolumeDiv {
      display: grid;
      height: 100%;
      justify-items: center;
      align-items: center;
    }

    .audioInfoDiv {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: start;
      left: 1rem;
      padding-left: 1rem;
      gap: 1rem;

      img {
        border-radius: 0.25rem;
      }

      h3, h4 {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .audioControlsDiv {
      display: grid;
      align-content: center;

      .audioSliderDiv {
        height: 2rem;
      }

      .audioIcon {
        font-size: 2rem;
        cursor: pointer;
      }
  
      .audioTimeDiv {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(3, auto);
        justify-content: space-evenly;
        align-items: center;
        font-size: 0.9rem;

        .MuiSlider-root {
          width: 15rem;
          color: $colorMain;
        }
      }
    }

    .audioVolumeDiv {
      display: grid;
      grid-template-columns: repeat(2, auto);
      height: 100%;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;


      .MuiSlider-root {
        width: 10rem;
        color: $colorMain;
      }

      .volumeIconDiv {
        height: 1.75rem;
        width: 1.75rem;
        align-content: center;
        display: grid;
      }

      .volumeIcon {
        font-size: 1.75rem;
        position: absolute;
        cursor: pointer;
      }

    }

    .actionDiv {
      position: absolute;
      align-self: center;
      justify-content: center;
      right: 2rem;
   
      
      div {
        height: 2.5rem;
        width: 2.5rem;
        cursor: pointer;
        border: 0 solid $colorMain;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        display: grid;
        transform: scale(1.5);

        &:hover {
          border: 1px solid $colorMain;
        }
      }
    }
  
  }

  .mainActionsContainer {
    position: relative;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-rows: 20.625% 78.625%;
    align-items: center;
    gap: 0.75%;
  }

  .topActionsContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    background-color: #151515;
    border-radius: 0.5rem;

    .topActionDiv {
      display: grid;
      grid-template-columns: repeat(2, auto);
      width: 95%;
      justify-content: start;
      align-items: center;
      align-self: center;
      gap: 1rem;
      padding: 0 1rem;
      color: rgba(255, 255, 255, 0.75);
      cursor: pointer;

      svg {
        fill: rgba(255, 255, 255, 0.75);
        transition: none;
      }

      h2 {
        font-size: 1rem;
      }

      &:hover {
        color: rgba(255, 255, 255, 1);
        svg {
          fill: rgba(255, 255, 255, 1);
        }
      }

    }
  }

  .audioActionsDiv {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #151515;
    .audioActionsTopDiv {
      display: grid;
      height: 4rem;
      grid-template-columns: repeat(2, auto);
      align-items: center;
      color: white;
      justify-content: space-between;
      padding: 0 20px;
      margin-bottom: 1rem;

      .playlistActionContainer {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          gap: 0.25rem;

         .playlistIcon {
          cursor: pointer;
          width: 2rem;
          height: 2rem;
          border-radius: 100%;
          padding: 0.25rem;

          &:hover {
           background-color: #181818;
          }
         }
          
      }

    }

    .audioActionsTopDiv::before {
      content: '';
      position: absolute;
      top: 4rem;
      justify-self: center;
      width: 92.5%;
      height: 0;
      border-bottom: 1px solid white;
      background-color: transparent;
    }

    .audioActionsMainDiv {
      position: relative;
      display: grid;
      width: 100%;
      height: calc(70vh - 6rem);
      overflow-y: auto;
      align-content: start;
      gap: 0.25rem;

      .playlistDiv {
        position: relative;
        display: grid;
       
        width: 95%;
        height: 4rem;
        justify-self: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: 20% 80%;
        border-radius: 0.4rem;
        color: white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          background-color: #101010;
        }

        img {
          border-radius: 0.25rem;
        }

        .playlistInfo {
          position: relative;
          height: 100%;
          width: 100%;
          display: grid;
          grid-template-rows: repeat(3, auto);
          justify-content: flex-start;
          align-content: center;

          div {
            display: grid;
            grid-template-columns: repeat(3, auto);
          }
        }
      }

    }

  }

}

.parameterContainerDiv {
  position: relative;
  width: 100%;
  height: 70vh;
  border-radius: 0.5rem;
  background-color: #151515;
}

.componentContainerDiv {
  position: absolute;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  width: 100vw;
  height: 70vh;
  padding: 0 0.5rem;
  top: 2rem;
  gap: 0.25rem;
  z-index: 4;
  background-color: transparent;
  pointer-events: none; 
  user-select: none;
  & > div {
    pointer-events: auto;
  }
}

.mainModalDiv {
  width: 100%;
  height: 70vh;
  position: relative;
  border-radius: 0.5rem;
  background-color: #151515;

  .createPlaylistDiv {
    display: grid;
    grid-template-columns: 25% 75%;
    position: relative;
    top: 0;
    width: 100%;
    height: 45%;
    background-color: #333;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    
    .createPlaylistLeftInner {
      position: relative;
      display: grid;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      color: white;

      .createPlaylistImg {
        position: relative;
        background-color: #222;
        width: 16rem;
        height: 16rem;
        box-shadow: 0 0 20px #202020;
        cursor: pointer;

      }
    }

    .createPlaylistRightInner {
      position: relative;
      display: grid;
      grid-template-rows: repeat(3, auto);
      width: 100%;
      height: 100%;
      align-content: space-around;

      .playlistTF {
        width: 30rem;
      }

      .descTF {
        width: 20rem;
      }

      .playlistCreateButton {
        width: 12rem;
        height: 4rem;
        background-color: transparent;
        border-radius: 0.35rem;
        border: 1px solid whitesmoke;
        cursor: pointer;
        font-size: 1.35rem;
        color: white;

        &:hover {
          border-color: $colorMain;
        }
      }


    }

  }

  .currentPlaylistDiv {
    display: grid;
    grid-template-columns: repeat(2, auto);
    position: relative;
    top: 0;
    width: 100%;
    height: 45%;
    background-color: #333;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding-left: 1rem;

    img {
      box-shadow: 0 0 20px #222;
      cursor: pointer;
    }

    .currentPlaylistInfo {
      position: relative;
      display: grid;
      align-content: center;
      gap: 0.75rem;
      height: 100%;
      color: white;

      .playlistTextInfo {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: start;
        gap: 0.5rem;
      }
  
      h1 {
        color: white;
        font-size: 5.5rem;
      }
     
    }

   
  }

  .searchTrackMainDiv {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: flex-start;
    padding: 0 20px;
    overflow-y: auto;

    .searchTrackTopDiv {
      color: white;
      h1 {
        font-size: 4rem;
      }

      h2 {
        margin-left: 0.25rem;
      }
    }
  
    .trackHeader {
      position: relative;
      display: grid;
      width: 100%;
      height: 3.25rem;
      grid-template-columns: 30% 70%;
      color: white;
      border-bottom: 1px solid #aaa;
      margin-bottom: 1.5rem;
      
      .trackHeaderLeft {
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: start;
        align-items: center;
        gap: 1.75rem;
        padding-left: 2.25rem;

        span, h4 {
          height: fit-content;
        }
      }

      .trackHeaderRight {
        position: relative;
        height: 4rem;
        width: 100%;
        display: grid;
        justify-content: end;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        gap: 10vw;
        padding-right: 2.25rem;

        h4 {
          height: fit-content;
        }
      }
      
    }

    .trackDiv {
      position: relative;
      display: grid;
      width: 100%;
      height: 4.25rem;
      grid-template-columns: 30% 70%;
      color: white;
      background-color: transparent;
      align-content: center;
      border-radius: 0.25rem;

      &:hover {
        background-color: #272727;
      }
      
      .leftTrackDiv {
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: start;
        align-items: center;
        gap: 1.75rem;
        padding-left: 2rem;

        h2 {
          width: 14px;
          text-align: center;
        }

        .trackPlayIcon {
          font-size: 2.5rem;
          color: $colorMain !important;
          cursor: pointer;

          &:hover {
            scale: 1.1;
          }
        }

        .trackImgTextDiv {
          position: relative;
          display: grid;
          grid-template-columns: repeat(2, auto);
          justify-content: start;
          align-items: center;
          gap: 1rem;
          white-space: nowrap;

          .trackInfoDiv {
            display: grid;
            grid-template-rows: repeat(2, auto);
            align-items: center;

            h3, h4 {
              height: fit-content;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            
            }
          }
        }

      }

      .rightTrackDiv {
        position: relative;
        height: 4rem;
        width: 100%;
        display: grid;
        justify-content: end;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        gap: 7vw;
        padding-right: 2.25rem;

        h4 {
          height: fit-content;
          white-space: nowrap;
        }
      }
      
    }


  }
}

.exitModalButton {
  position: absolute;
  display: grid;
  z-index: 2;
  right: 1.35rem;
  top: 0.75rem;
  font-size: 1.35rem;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    border: 1px solid $colorMain;
  }

}

.loginForm {
  position: absolute;
  width: 35rem;
  max-width: 90vw;
  height: 60%;
  max-height: 100vw;
  min-height: 20rem;
  justify-self: center;
  align-self: center;
  bottom: auto;
  border-radius: 0.35rem;
  background-color: white;
  box-shadow: 0 0 10px 0 #333 inset;
  color: black;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  justify-items: center;
  align-content: space-around;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}

.loginForm div {
  position: relative;
  display: grid;
  width: 90%;
  grid-template-rows: auto auto;

  input {
      border: none;
      border-bottom: 1px solid black;
      padding-bottom: 0.25rem;
      font-size: 1.15rem;
      font-family: 'Poppins', sans-serif;
      color: black;
      transition: all 0.2s ease-in-out;
      width: 100%;
  }

  label {
    transition: all 0.2s ease-in-out;
    display: grid;
    opacity: 1;
  }

  label:hover {
    cursor: text;
  }

 
  .email:after {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    color: var(--bLighterColor);
    transform: translateY(var(--offset));
  }

  .password:after {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    color: var(--bLighterColor);
    transform: translateY(var(--offset2));
  }

  .username:after {
    content: attr(data-placeholder);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    color: var(--bLighterColor);
    transform: translateY(var(--offset3));
  }

  // label:focus-within::after {
  //   transform: translateY(-75%);
  // }

  input:focus{
    outline: none;
  }

}

.formH1 {
  position: relative;
  font-size: 3.25rem;
  position: relative;
  color:rgb(50, 50, 50);
  padding: 10px;
  text-align: center;
}

.loginSubmit {
  padding: 1rem 4rem;
  font-size: 1.25rem;
  color: white;
  border: 1px solid white;
  background-color: #222;
  border-radius: 0.25rem;
  cursor: pointer;
  background-size: 100% 300%;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 5px 0 #333 inset;
}

.loginSubmit:hover {
    background-color: white;
    color: #222;
    border: 1px solid #222;
}

.alreadyContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  column-gap: 1rem;

  a {
    font-family: 'Poppins', sans-serif;
    color: var(--bLighterColor);
    font-size: 1.15rem;
  }
}