* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-items: center;
  
}
.webgl {
  position: fixed;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.audioDiv {
  position: absolute;
  z-index: 2;
  bottom: 2.5rem;
  
  audio {
    width: 25rem;
    opacity: 0.0;

    &:hover {
      opacity: 1;
    }
  }

}

